/* use local font */
@font-face {
  font-family: "Big River";
  src: url("./fonts/big_river_sample.otf") format("opentype");
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
       url('./fonts/Satoshi-Variable.woff') format('woff');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #0b0c0f;
}
